
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div class="container-fluid">
        <!-- Bootstrap Default Buttons -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <div class="button-demo">
                            <button type="button" class="btn btn-default waves-effect">TẤT CẢ</button>
                            <button type="button" class="btn btn-success waves-effect">TRỐNG<span class="badge">4</span></button>
                            <button type="button" class="btn btn-danger waves-effect">NHẬN PHÒNG</button>
                            <button type="button" class="btn btn-warning waves-effect">QUÁ HẠN</button>
                            <button type="button" class="btn btn-primary waves-effect">ĐÃ ĐẶT</button>
                            <button type="button" class="btn bg-blue-grey waves-effect">KHÔNG ĐẾN</button>
                            <button type="button" class="btn bg-brown waves-effect">BẨN</button>
                            <button type="button" class="btn bg-grey waves-effect">ĐANG SỬA</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Bootstrap Default Buttons -->
        <div class="block-header">
            <h2>SƠ ĐỒ PHÒNG</h2>
        </div>
        <!-- Widgets -->
        <div class="row clearfix">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-pink hover-expand-effect">
                    <div class="icon">
                        <span class="">101</span>
                    </div>
                    <div class="content">
                        <span class="times-check">28/09/2017, 10:20</span>
                        <div class="text-name">Bùi Văn Chương</div>
                        <span class="times-check">10 : 20 : 10</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-green hover-expand-effect">
                    <div class="icon">
                        <span class="">102</span>
                    </div>
                    <div class="content">
                        <div class="text">TRỐNG</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-grey hover-expand-effect">
                    <div class="icon">
                        <span class="">103</span>
                    </div>
                    <div class="content">
                        <span class="times-check">28/09/2017, 10:20</span>
                        <div class="text-name">Bùi Văn Chương</div>
                        <span class="times-check">10 : 20 : 10</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-orange hover-expand-effect">
                    <div class="icon">
                        <span class="">104</span>
                    </div>
                    <div class="content">
                        <span class="times-check">28/09/2017, 10:20</span>
                        <div class="text-name">Bùi Văn Chương</div>
                        <span class="times-check">10 : 20 : 10</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-green hover-expand-effect">
                    <div class="icon">
                        <span class="">102</span>
                    </div>
                    <div class="content">
                        <div class="text">TRỐNG</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-green hover-expand-effect">
                    <div class="icon">
                        <span class="">102</span>
                    </div>
                    <div class="content">
                        <div class="text">TRỐNG</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-green hover-expand-effect">
                    <div class="icon">
                        <span class="">102</span>
                    </div>
                    <div class="content">
                        <div class="text">TRỐNG</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-green hover-expand-effect">
                    <div class="icon">
                        <span class="">102</span>
                    </div>
                    <div class="content">
                        <div class="text">TRỐNG</div>
                    </div>
                </div>
            </div>

        </div>
        <!-- #END# Widgets -->

    </div>
</section>

